{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'img/workshop500.jpg' %}" alt="">
            </div>
            <div class="col-lg-7">
                <p class="section-title pr-5"><span class="pr-2">Tentang</span></p>
                <h3 class="mb-4">Tentang RESTEC</h3>
                <p>Research Electrikal Technology (RESTEC) merupakan study club Himpunan Mahasiswa Teknik Elektro
                    yang mewadahi mahasiswa-mahasiswa Teknik Elektro UIN SUSKA Riau
                    dalam melakukan penelitian di berbagai bidang. Study club ini berdiri
                    atas inisiatif beberapa mahasiswa yang ingin mengembangkan potensi dirinya di bidang riset.
                    pada mulanya study club ini berdiri dibawah naungan Prodi Teknik Elektro
                    akan tetapi seiring berjalannya waktu RESTEC memilih untuk bergabung ke HIMATE bermaksud untuk
                    menghadirkan program riset dibidang kelistrikan di HIMATE yang sebelumnya masih belum begitu masif.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Facilities Start -->
<div class="container-fluid pt-5">
    <div class="container pb-3">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Fokus Penelitian</span></p>
            <h1 class="mb-4">Bidang</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Mikrokontroler</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet
                            elitr vero...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Web Developer</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet
                            elitr vero...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Pembangkit Listrik Tenaga Mikrohidro</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet
                            elitr vero...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Kelistrikan</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet
                            elitr vero...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facilities Start -->


<!-- Team Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Didukung Oleh</span></p>
            <h1 class="mb-4">Didukung Oleh</h1>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 text-center team mb-5" style="align-items: center;">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                    <img class="img-fluid w-100" src="{% static 'img/himate300.jpg' %}" alt="">
                    <div
                        class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" href="#"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>HIMATE UIN SUSKA</h4>
                <i>Himpunan Mahasiswa Teknik Elektro</i>
            </div>

            <div class="col-md-6 col-lg-3 text-center team mb-5" style="align-items: center;">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                    <img class="img-fluid w-100" src="{% static 'img/fkhmei300.png' %}" alt="">
                    <div
                        class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" href="#"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>FKHMEI III</h4>
                <i>FKHMEI III Wilayah Riau-Kepulauan Riau</i>
            </div>

            <div class="col-md-6 col-lg-3 text-center team mb-5" style="align-items: center;">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                    <img class="img-fluid w-100" src="{% static 'img/fkhmei300.png' %}" alt="">
                    <div
                        class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" href="#"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>FKHMEI</h4>
                <i>Forum Komunikasi Himpunan Mahasiswa Elektro Indonesia</i>
            </div>

            <div class="col-md-6 col-lg-3 text-center team mb-5" style="align-items: center;">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                    <img class="img-fluid w-100" src="{% static 'img/fkhmei300.png' %}" alt="">
                    <div
                        class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" href="#"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>UIN SUSKA Riau</h4>
                <i>Universitas Islam Negeri Sultan Syarif Kasim Riau</i>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

{% endblock %}