{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Hubungi Kami</span></p>
            <h1 class="mb-4">Hubungi dan beri pertanyaan</h1>
        </div>
        <div class="row">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" placeholder="Masukkan nama"
                                required="required" data-validation-required-message="Masukkan nama" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" placeholder="Masukkan Email"
                                required="required" data-validation-required-message="Masukkan email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject"
                                required="required" data-validation-required-message="Masukkan subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" rows="6" id="message" placeholder="Tulis Pesan"
                                required="required" data-validation-required-message="Tulis pesan"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit"
                                id="sendMessageButton">Kirim</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <p>Labore sea amet kasd diam justo amet ut vero justo. Ipsum ut et kasd duo sit, ipsum sea et erat est
                    dolore, magna ipsum et magna elitr. Accusam accusam lorem magna, eos et sed eirmod dolor est eirmod
                    eirmod amet.</p>
                <div class="d-flex">
                    <i class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                        style="width: 45px; height: 45px;"></i>
                    <div class="pl-3">
                        <h5>Alamat</h5>
                        <p>G. Family Jl. Garuda Sakti KM-2</p>
                    </div>
                </div>
                <div class="d-flex">
                    <i class="fa fa-envelope d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                        style="width: 45px; height: 45px;"></i>
                    <div class="pl-3">
                        <h5>Email</h5>
                        <p>11950511598@students.uin-suska.ac.id</p>
                    </div>
                </div>
                <div class="d-flex">
                    <i class="fa fa-phone-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                        style="width: 45px; height: 45px;"></i>
                    <div class="pl-3">
                        <h5>Phone</h5>
                        <p>+62 822 6839 9552</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}