{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header Start -->
<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
            <p class="display-3 font-weight-bold text-white">_______</p>
            <h1 class="display-3 font-weight-bold text-white">Hallo, Selamat Datang ...</h1>
            <p class="text-white mb-4">Website ini dapat menjadi tempat anda untuk menambah
                pengetahuan dalam berbagai bidang. Disini terdapat materi mengenai arduino, pemrograman, fisika dan
                lain-lain.
                Semoga artikel yang kami hadirkan dapat bermanfaat bagi pembaca sekalian. Terimakasih.</p>
            <a href="" class="btn btn-secondary mt-1 py-3 px-5">Mulai Belajar</a>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid m-5" style="border-radius:5%;" src="{% static 'img/header.png' %}" alt="">
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Facilities Start -->
<div class="container-fluid pt-5">
    <div class="container pb-3">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Keahlian</span></p>
            <h1 class="mb-4">Bidang Keahlian</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Mikrokontroler</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet
                            elitr vero...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Web Developer</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet
                            elitr vero...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Pemrograman Bahasa Python</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet
                            elitr vero...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facilities Start -->


<!-- Team Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Teman</span></p>
            <h1 class="mb-4">Teman Dekat</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center team mb-5">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                    <img class="img-fluid w-100" src="{% static 'img/team-1.jpg' %}" alt="">
                    <div
                        class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" href="#"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Iskariman Halmahera</h4>
                <i>Backend Developer</i>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-5">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                    <img class="img-fluid w-100" src="{% static 'img/team-2.jpg' %}" alt="">
                    <div
                        class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" href="#"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Farhandika Akbar</h4>
                <i>Teknisi Listrik</i>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-5">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                    <img class="img-fluid w-100" src="{% static 'img/team-3.jpg' %}" alt="">
                    <div
                        class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" href="#"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Fajar Julian</h4>
                <i>Teknisi Listrik</i>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-5">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                    <img class="img-fluid w-100" src="{% static 'img/team-4.jpg' %}" alt="">
                    <div
                        class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" href="#"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Naufal Arif</h4>
                <i>Photographer</i>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container p-0">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Testimonial</span></p>
            <h1 class="mb-4">Apa tanggapan orang ?</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Sangat membantu dalam mempelajari bahasa python.
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="{% static 'img/testimonial-1.jpg' %}"
                        style="width: 70px; height: 70px;" alt="Image">
                    <div class="pl-3">
                        <h5>M. Fiqri Ramadhan</h5>
                        <i>Mahasiswa</i>
                    </div>
                </div>
            </div>
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Sangat membantu dalam mempelajari bahasa python.
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="{% static 'img/testimonial-1.jpg' %}"
                        style="width: 70px; height: 70px;" alt="Image">
                    <div class="pl-3">
                        <h5>M. Fiqri Ramadhan</h5>
                        <i>Mahasiswa</i>
                    </div>
                </div>
            </div>
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Sangat membantu dalam mempelajari bahasa python.
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="{% static 'img/testimonial-1.jpg' %}"
                        style="width: 70px; height: 70px;" alt="Image">
                    <div class="pl-3">
                        <h5>M. Fiqri Ramadhan</h5>
                        <i>Mahasiswa</i>
                    </div>
                </div>
            </div>
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Sangat membantu dalam mempelajari bahasa python.
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="{% static 'img/testimonial-1.jpg' %}"
                        style="width: 70px; height: 70px;" alt="Image">
                    <div class="pl-3">
                        <h5>M. Fiqri Ramadhan</h5>
                        <i>Mahasiswa</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<!-- Blog Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Lihat Blog</span></p>
            <h1 class="mb-4">Artikel Terakhir</h1>
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 mb-4">
                <div class="card border-0 shadow-sm mb-2">
                    <img class="card-img-top mb-2" src="{% static 'img/blog-1.jpg' %}" alt="">
                    <div class="card-body bg-light text-center p-4">
                        <h4 class="">Diam amet eos at no eos</h4>
                        <div class="d-flex justify-content-center mb-3">
                            <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
                            <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
                            <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
                        </div>
                        <p>Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam eirmod, duo et sed sit eirmod
                            kasd clita tempor dolor stet lorem. Tempor ipsum justo amet stet...</p>
                        <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card border-0 shadow-sm mb-2">
                    <img class="card-img-top mb-2" src="{% static 'img/blog-1.jpg' %}" alt="">
                    <div class="card-body bg-light text-center p-4">
                        <h4 class="">Diam amet eos at no eos</h4>
                        <div class="d-flex justify-content-center mb-3">
                            <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
                            <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
                            <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
                        </div>
                        <p>Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam eirmod, duo et sed sit eirmod
                            kasd clita tempor dolor stet lorem. Tempor ipsum justo amet stet...</p>
                        <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card border-0 shadow-sm mb-2">
                    <img class="card-img-top mb-2" src="{% static 'img/blog-1.jpg' %}" alt="">
                    <div class="card-body bg-light text-center p-4">
                        <h4 class="">Diam amet eos at no eos</h4>
                        <div class="d-flex justify-content-center mb-3">
                            <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
                            <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
                            <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
                        </div>
                        <p>Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam eirmod, duo et sed sit eirmod
                            kasd clita tempor dolor stet lorem. Tempor ipsum justo amet stet...</p>
                        <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

{% endblock %}